<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
</head>
<body>
    <h1>{{ titulo }}</h1>
    <ul>
        <li>
            <strong>Nombre del Estudiante 01:</strong>
            <br>
            <a href="enlace al GitHub del Estudiante 01">GitHub</a>
        </li>
        <li>
            <strong>Nombre del Estudiante 02:</strong>
            <br>
            <a href="enlace al GitHub del Estudiante 01">GitHub</a>
        </li>
        <li>
            <strong>Nombre del Estudiante 03:</strong>
            <br>
            <a href="enlace al GitHub del Estudiante 01">GitHub</a>
        </li>
        <li>
            <strong>Nombre del Estudiante 04:</strong>
            <br>
            <a href="enlace al GitHub del Estudiante 01">GitHub</a>
        </li>
    </ul>
</body>
</html>
